{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/category.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/categoryContent.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/myModal.css'%}" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="logoImage">
        <a href="#"><img src="{% static 'posts/img/becomelogo.png'%}" /></a>
      </div>
      <div class="finder">
        <input placeholder="검색" />
        <button class="finder_button">검색</button>
      </div>
      {% if user.is_active %} 
        <div class="header_right"><a href="{% url 'mypage' user.id %}">내 정보</a> | <a href="{% url 'logout' %}">로그아웃</a></div>
      {% else %}
        <div class="header_right"><a href="{% url 'signup' %}">회원가입</a> | <a href="{% url 'signin' %}">로그인</a></div>
      {% endif %} 
      </header>

    <!-- 여기서부터는 mansory layout-->
    <content>
      <div class="content_bar">
        <button><a href="{% url 'mypage' user.id %}">내 정보</a></button>
        <div># {{cate_name.post_cate}}</div>
        <button><a href="{% url 'get_write' %}">글작성</a></button>
      </div>
      <button type="button"><a href="{% url 'category' %}">뒤로가기</a></button>
      
      
      <div class="content_imgs">
        {% for post in posts %}
        <figure>
          {% if post.post_img %}
          <!-- 이미지 있는 글인 경우 -->
            <img src="{{post.post_img.url}}" width="100" height="100" alt="image">
          {% else %} 
          <!-- 이미지 없는 글인 경우 -->
            {{post.post_content}}
          {% endif %} 
        </figure>
        <!-- <figure>
          <img src="{% static 'posts/img/img02.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img03.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img04.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img05.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img07.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img08.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img09.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img10.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img11.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img12.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img13.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img14.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img15.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img16.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img17.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img18.jpg'%}" />
        </figure>
        <figure>
          <img src="{% static 'posts/img/img15.jpg'%}" />
        </figure> -->
      </div>

      <div class="myModal">
        <button>닫기</button>
        <div class="myModalWrapper">
          <div class="myModalContent">
            <img src="{{post.post_img.url}}" class="myModalContentImage" />
            <div class="myModalContentText">
              <div class="myModalContentTextText">
                작성자 : {{post.author}} || 작성일 : {{post.post_date}}<br>
                제목 : {{post.post_title}}
              </div>
              <div class="myModalContentTextText">
                {{post.post_content}}
              </div>
              <div class="myModalContentTextlike">
                <img src="{% static 'posts/img/like.png'%}" />{{post.like_count}}
                {% if user.is_active %}
                  <a href="{% url 'likes' post.post_id %}">
                    {% if user in post.post_like.all %}
                    좋아요 취소
                    {% else %}
                    좋아요
                    {% endif %}
                  </a>
                {% endif %}

              </div>
            </div>
          </div>
          <div class="myModalSideBar">
            {% if user.is_active %}
            <div class="myModalSideBar_comment_write">
              <form method="post" action="">
                {% csrf_token %} 
                {{cmt_form.comment_content}}<input type="submit" value="작성">
              </form>
            </div>
            {% else %}     
              <p style="color: red;">로그인 후 댓글 사용 가능</p>
            {% endif %} 

            <div class="myModalSideBar_comment_written_byuser">
              {% for cmt in cmts %}
              <div class="myModalSideBar_comment_written_byusername">
                <div>{{cmt.author}}</div>
                <div>{{cmt.comment_date}}</div>
              </div>
              <div>{{cmt}}</div>
              {% endfor %} 
            </div>
          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
    </content>
    <script src="{% static 'posts/js/mansonry.js'%}"></script>
    <script src="{% static 'posts/js/modal.js'%}"></script>
  </body>
</html>
