{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "auto",
  "printWidth": 250,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true
}
