{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/categoryMain.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/categoryContent.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/myModal.css'%}" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="logoImage">
        <a href="#"><img src="{% static 'posts/img/becomelogo.png'%}" /></a>
      </div>
      <div class="finder">
        <input placeholder="검색" />
        <button class="finder_button">검색</button>
      </div>
      <div class="header_right">
        {% if user.is_active %} 
        <p>{{user.username}}님 안녕하세요.</p>
        <a href="{% url 'get_write' %}">글쓰기</a>
        <a href="{% url 'mypage' user.id %}">내 정보</a>
        <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'signin' %}">로그인</a>
        {% endif %} 
        <hr>
      </div>
    </header>

    <button type="button"><a href="{% url 'category' %}">뒤로가기</a></button>

    <content>
      <div class="content_bar">
        <button>내 정보</button>
        <div>#{{cate_name}} 페이지</div>
        <button>글작성</button>
      </div>
      <div class="content_imgs">
        {% for post in posts %}
        <figure onclick="change('{{post.post_content}}','{{post.cmt_postid.all}}','{{post.author}}','{{post.post_date}}')">
          <img src="{{post.post_imgs}}" />
        </figure>
        {% endfor %}
      </div>

      <div class="myModal">
        <button>닫기</button>
        <div class="myModalWrapper">
          <div class="myModalContent">
            <img src="{% static 'posts/img/img01.jpg'%}" class="myModalContentImage" />
            <div class="myModalContentText">
              <div class="myModalContentTextText">
                글 내용 : {{post.post_content}}
              </div>
              <div class="myModalContentTextlike"><img src="{% static 'posts/img/like.png'%}" />37</div>
            </div>
          </div>
          <div class="myModalSideBar">
            <div class="myModalSideBar_comment_write"><input /><button>작성</button></div>
            <div class="myModalSideBar_comment_written_byuser">
              <div class="myModalSideBar_comment_written_byusername">
                <div>작성자 : {{post.post_author}}</div>
                <div>작성일 : {{post.post_date}}</div>
              </div>
              <div>
                <!-- 댓글 & 좋아요 -->
                {% if user.is_active %}
                  <!-- 댓글 -->
                  <form method="post" action="">
                      {% csrf_token %} 
                      댓글 : {{cmt_form.comment_content}} <input type="submit" value="완료">
                  </form>
                {% else %}     
                  <p style="color: red;">로그인 후 댓글 사용 가능</p>
                {% endif %} 
                {% for cmt in cmts %} 
                  <p>{{cmt.author}} : {{cmt}}<small>  {{cmt.comment_date}}</small></p>
                {% endfor %} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </content>
    <script src="{% static 'posts/js/mansonry.js'%}"></script>
  </body>
</html>