{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/category_yoonah.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>젊어서노세</title>
    </head>
    <body>
        <div class="Grass_1"><img src="{% static 'accounts/img/grass.png'%}" style=" 
            position: relative; 
            width: 1.5em; 
            left: 15em;">
        </div>
        <div class="Grass_2"><img src="{% static 'accounts/img/grass.png'%}" style="
            position: relative;
            width: 1.5em;
            left: 4em;
            top: 1.5em;">
            </div>
        <div class="Grass_3"><img src="{% static 'accounts/img/grass.png'%}" style="
            position: relative;
            width: 1.5em;
            left: 70em;
            top: 2em;">
            </div>
        <div class="Grass_4"><img src="{% static 'accounts/img/grass.png'%}"  style="
            position: relative;
            width: 1.8em;
            top: 20em;
            left: 70em;">
        </div>
        <div class="Grass_5"><img src="{% static 'accounts/img/grass.png'%}" style="
            position: relative;
            width: 1.5em;
            top: 6em;
            left: 4em"></div>
        <div class="Grass_6"><img src="{% static 'accounts/img/grass.png'%}" style="
            position: relative;
            width: 1.5em;
            left: 72em;
            top: 5em;"> </div>
        <div class="Grass_7"><img src="{% static 'accounts/img/grass.png'%}"  style="
            position: relative;
            width: 1.5em;
            top: 17em;
            left: 14em;">
        </div>

        <div class="FlowerDance_1"><img src="{% static 'accounts/img/Flower1.png'%}"
            style="
                position: relative;
        width: 8em;
        left: 69.8em;
        top: 0.5em;">
        </div>
        <div class="FlowerDance_2"><img src="{% static 'accounts/img/Flower2.png'%}"
            style="
            position: relative;
            width: 8em;
            bottom: 17em;
            left: 4em;">
            </div>
        <div class="FlowerDance_3"><img src="{% static 'accounts/img/Flower3.png'%}" 
            style="
            position: relative;
            width: 8em;
            bottom: 10em;
            left: 2em;">
        </div>
        <div class="FlowerDance_4"><img src="{% static 'accounts/img/Flower4.png'%}"   
            style="
            position: relative;
            width: 8em;
            left: 14em;">
        </div>
        <div class="FlowerDance_5"><img src="{% static 'accounts/img/Flower5.png'%}" 
            style="
            position: relative;
            width: 8em;
            bottom: 9em;
            left: 67.5em;">
        </div>
        <div class="FlowerDance_6"><img src="{% static 'accounts/img/Flower6.png'%}"
            style="
            position: relative;
            width: 8em;
            bottom: 40em;
            left: 11em;
            z-index: 1;">
        </div>
        <div class="FlowerDance_7"><img src="{% static 'accounts/img/Flower2.png'%}" style="
            position: relative;
            width: 8em;
            left: 67.5em;
            bottom: 38.5em;">
        </div>
        <div class="FlowerDance_8"><img src="{% static 'accounts/img/Flower4.png'%}" 
            style="
            position: relative;
            width: 8em;
            bottom: 50em;
            left: 12.5em;">
        </div>    


        <!-- 0815/백엔드 추가 -->
        <h1>category</h1>

        {% for cate in cates %}
            <button type="button"><a href="{% url 'cate_detail' cate.id %}">{{cate.post_cate}}</a></button>
            <br>
        {% endfor %} 

    </body>
</html>