{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>젊어서노세</title>
        <meta name="viewport" content="width=device-width, initial-scale=10">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/edit.css' %}">
    </head>
    <body>
        <ul>
            <h3>글 수정</h3>
            <form method="POST" action="{% url 'update' edit_post.post_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="Box">
                    <div id="PhotoBox">
                        <input type="file" name="post_img" id="fileupload" placeholder="{{edit_post.post_img.url}}"/>
                        <img src="{{edit_post.post_img.url}}" alt="수정 전 이미지" style="position: relative;
                    top: 4em;" ><br>
                    </div>
                <div class = myProfile>{{user.username}}</div>
                <div id="PlusContent">
                    <input type="text" name="post_title" value="{{edit_post.post_title}}">
                    <textarea name="post_content" rows="20" cols="56">{{edit_post.post_content}}</textarea>
                    카테고리 : {{edit_post.post_cate}}
                    * 카테고리는 수정이 불가능합니다.
                </div>
                    <button type="submit"style="float:right";> 작성완료 </button>
                </div>
            </form>
        </ul>

        <!-- 0815/백엔드 추가 -->

        <!-- <form method="POST" action="{% url 'update' edit_post.post_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                제목 : <input type="text" name="post_title" value="{{edit_post.post_title}}">
            </div>
            <div>
                작성자 : {{user.username}}
            </div>
            <div>
                업로드 사진 : <input type="file" name="post_img" id="fileupload" placeholder="{{edit_post.post_img.url}}"/>
                <img src="{{edit_post.post_img.url}}" alt="수정 전 이미지">
            </div>
            <div>
                내용 : <textarea name="post_content" cols="80" rows="30">{{edit_post.post_content}}</textarea>
            </div>
            <div>
                카테고리 : {{edit_post.post_cate}}
            </div>
         
            <button type="submit" value="submit">작성 완료</button>
        </form> -->
    </body>
</html>

