{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="4,url=category">
    <title>젊어서노세</title>
    <link rel = "stylesheet" href="{% static 'posts/css/main.css' %}">
</head>
<body>
    <div id="GraSs1"><img src="{% static 'accounts/img/grass2.png'%}" 
    style="
    position: relative;
    width: 1.5em;
    left: 13em;">
    </div>

    <div id="GraSs2"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
       position: relative;
        width: 1.5em;
        left: 2em;
        top: 1.5em;">
    </div>
    <div id="GraSs3"><img src="{% static 'accounts/img/grass2.png'%}"
        style="
        position: relative;
        width: 1.5em;
        left: 40em;
        bottom: 1.3em;">
    </div>
    <div id="GraSs4"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
    position: relative;
    width: 1.5em;
    left: 66em;
    bottom: 3.2em;">
    </div>
    <div id="GraSs5"><img src="{% static 'accounts/img/grass2.png'%}"  
    style="
    position: relative;
    width: 1.5em;
    left: 20em;">
    </div>
    <div id="GraSs6"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
            position: relative;
    width: 1.5em;
    left: 50em;
    bottom: 3em;">
    </div>
    <div id="GraSs7"><img src="{% static 'accounts/img/grass2.png'%}"  
    style="
            position: relative;
    width: 1.5em;
    left: 5em;">
    </div>
    <div id="GraSs8"><img src="{% static 'accounts/img/grass2.png'%}" 
        style= "
        position: relative;
        width: 1.5em;
        left: 70em;">
    </div>
    <div id="GraSs9"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
            position: relative;
    width: 1.5em;
    left: 15em;
    top: 3em;">
    </div>
    <div id="GraSs10"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
        position: relative;
    width: 1.5em;
    left: 62em;
    top: 5em;">
    </div>
    <div id="GraSs11"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
            position: relative;
    width: 1.5em;
    left: 4em;
    top: 6em;">
    </div>
    <div id="GraSs12"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
        position: relative;
    width: 1.5em;
    left: 48em;
    top: 5em;">
    </div>
    <div id="GraSs13"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
       position: relative;
    width: 1.5em;
    top: 4em;
    left: 28em">
    </div>
    <div id="GraSs14"><img src="{% static 'accounts/img/grass2.png'%}" 
        style="
        position: relative;
    width: 1.5em;
    left: 70em;">
    </div>

    <div id="Howdyfloey1"><img src="{% static 'accounts/img/Flower1.png'%}" 
        style="        width: 8em;
        position: relative;
        left: 67.4em;
        bottom: 3em;">
    </div>
    <div id="Howdyfloey2"><img src="{% static 'accounts/img/Flower1.png'%}" 
        style="width: 8em;
        position: relative;
        left: 67.4em;
        bottom: 21em;">
    </div>
    <div id="Howdyfloey3"><img src="{% static 'accounts/img/Flower1.png'%}" 
        style="    width: 8em;
        position: relative;
        left: 59.6em;
        bottom: 16em;">
    </div>
    <div id="Howdyfloey4"><img src="{% static 'accounts/img/Fflowerr.png'%}" 
        style="    width: 20em;
        position: relative;
        bottom: 16em;
        left: 15em;">
    </div>
    <div id="Howdyfloey5"><img src="{% static 'accounts/img/Fflowerr.png'%}" 
        style="    width: 20em;
        position: relative;
        bottom: 59em;">
    </div>
    <div id="Howdyfloey6"><img src="{% static 'accounts/img/Fflower.png'%}" 
        style="       width: 10em;
        position: relative;
        bottom: 48em;
        left: 10.5em;">
    }
    </div>
    <div id="Howdyfloey7"><img src="{% static 'accounts/img/Fflower.png'%}" 
        style="width: 10em;
        position: relative;
        bottom: 66em;
        left: 15.6em">
    </div>
    <div id="Howdyfloey8"><img src="{% static 'accounts/img/Fflower.png'%}" 
        style="    width: 10em;
        position: relative;
        bottom: 51em;
        left: 43.7em;">
    </div>
    <div id="Howdyfloey9"><img src="{% static 'accounts/img/Fflower2.png'%}" 
        style="
            width: 10em;
    position: relative;
    bottom: 73em;">
    </div>
    <div id="Howdyfloey10"><img src="{% static 'accounts/img/Fflower2.png'%}" 
        style="
           width: 10em;
    position: relative;
    bottom: 89em;
    left: 61em">
    </div>
    <div id="Howdyfloey11"><img src="{% static 'accounts/img/Fflower5.png'%}" 
        style="
                width: 10em;
    position: relative;
    bottom: 95em;
    right: 4.7em;">
    </div>
    <div id="Howdyfloey12"><img src="{% static 'accounts/img/Fflower5.png'%}" 
        style="width: 10em;
        position: relative;
        bottom: 76em;
        right: 0.5em;"
            >
    </div>
    <div id="Howdyfloey13"><img src="{% static 'accounts/img/Fflower5.png'%}" 
        style="
                width: 10em;
    position: relative;
    bottom: 102em;
    left: 45.6em;">
    </div>
    <div id="Howdyfloey14"><img src="{% static 'accounts/img/Fflowerr.png'%}" 
        style="
        width: 20em;
    position: relative;
    bottom: 114em;
    left: 27em;">
    </div>

    
    <div id="logo">
        <img src="{% static 'accounts/img/로고_젊어서노세.png'%}" style="position: relative;
        width: 38em;
        left: 20em;
        bottom: 115em;
    ">
    </div>
</body>
</html>