<form method="POST">
    {% csrf_token %}
    {% if not search_list %}
    <h1> 검색 결과가 없습니다.</h1>
    {% else %}

    {% for post in search_list.all %}
    <div class="post">
        <a href="{% url 'category_detail' post.id %}">
            <div class="post_wrapper">
                <p>{{posts.post_title}}</p>
                <p>{{posts.post_content}}</p>
                
                <p>
                    {% if posts.post_img %}
                        <img srv="{{post.post_img.url}}">
                    {% endif %}
                </p>
            </div>
        </a>
    </div>>
    {% endfor %}
    {% endif %}
</form>