{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>젊어서노세</title>
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/write.css' %}">
</head>
<body> 
        <div class="container">
        <h3 class="title">글 작성</h3>
        <div id="Box">      
            <div id="PhotoPlusBox">
                <img src="{% static 'accounts/img/downloadbutton.png'%}">
                <button type="submit" id="PhotoButton">눌러서 사진 추가</button>
            </div>
            <div class="right_bar">
                <div class = myProfile>마광팔</div>
                <textarea rows="20" cols="56" placeholder="내용 추가 "></textarea>
                <button type="submit"style="float:right"; id="ClearButton"> 작성완료 </button>
            </div>
        </div>
        </div>
</body>
</html>