{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <title>젊어서노세 - 비밀번호 찾기</title>
</head>
<body>
    <div class="main" style="height:35em;min-height:35em;">
        <h1 class="text">비밀번호 찾기</h1>
        <div class="container">
            <input type="phone_number" placeholder="전화번호를 적어주세요" class="account" autofocus>
            <input type="nickname" placeholder="별명을 적어주세요" class="account" autofocus>
            <input type="?" placeholder="질문 넣는 빈칸" class="account">
            <input type="password" placeholder="질문에 대한 답을 적어주세요" class="account">
            <button class="button">다음</button>
        </div>
    </div>   
</body>
</html>