{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <title>젊어서노세 - 비밀번호 찾기</title>
</head>
<body>
    <div class="BG-btn">
        <div class="BG-text">배경색<br>변경</div>
    </div>
    <div class="main" style="height:37em;min-height:40em;">
        <h1 class="text">
            <a href="javascript:history.back()"><img width="230px" src="{% static 'posts/img/becomelogo.png'%}" /></a><br>
            비밀번호 찾기
        </h1>
        <div class="container">
            <form action="{% url 'find_pw' %}" method="POST">
                {% csrf_token %}
                <input type="phone_number" placeholder="전화번호를 적어주세요" class="account" name="find_name_phone_num" autofocus>
                <input type="nickname" placeholder="별명을 적어주세요" class="account" name="find_name_nickname" autofocus>
                <select class="account" name="quiz"> 
                    {% for q in quiz %}
                        <option value="{{q}}">{{q}}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="질문에 대한 답을 적어주세요" class="account" name="find_name_answer">
                <button type="submit" class="button">다음</button>
            </form>
        </div>
    </div>   
</body>
<script type="text/javascript" src="{% static 'accounts/js/base.js' %}"></script>
</html>