{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <title>젊어서노세 - 별명 찾기</title>
</head>
<body>
    <div class="BG-btn">
        <div class="BG-text">배경색<br>변경</div>
    </div>
    <div class="main" style="height:32em;min-height:32em;">
        <h1 class="text">별명 찾기</h1>
        <div class="container">
            <input type="nickname" placeholder="전화번호를 적어주세요" class="account" autofocus>
            <input type="" placeholder="질문 넣는 빈칸" class="account">
            <input type="password" placeholder="질문에 대한 답을 적어주세요" class="account">
            <button class="button">찾기</button>
        </div>
    </div>   
</body>
<script type="text/javascript" src="{% static 'accounts/js/base.js' %}"></script>
</html>