<h1>mypage</h1>
<p style="color:hotpink;">환영합니다~~^^ <b>{{user.username}}</b>님의 공간</p>
<hr>
<form action="{% url 'mypage' user.id %}" method="POST">
    {% csrf_token %}

    {% if user.is_active %} 
        <a href="{% url 'write' %}">글쓰기</a>
        <a href="{% url 'logout' %}">로그아웃</a>
        <hr>

        {% for post in post.all %}
            <p>내용 : {{post.post_content}}</p>
            <p>날짜 : {{post.post_date}}</p>
            <div>좋아요 수 : {{post.like_count}}</div>

            <a href="{% url 'update' post.id %}">수정하기</a>
            <a href="{% url 'delete' post.id %}">삭제하기</a> 
            <hr>
        {% endfor %}

    {% else %}
        <a href="{% url 'signup' %}">회원가입</a>
    {% endif %}
    
    <hr>
</form>

