{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <title>젊어서노세 - 회원가입</title>
</head>
<body>
    <div class="main" style="height:50em;min-height:50em;">
        <h1 class="text">회원가입</h1>
        <div class="container">
            <input type="id" placeholder="별명을 적어주세요" class="account" autofocus>
            <input type="password" placeholder="비밀번호를 적어주세요" class="account">
        </div>
        <h1 class="text">비밀번호 재설정 질문</h1>
        <div class="container">
            <input type="phone_number" placeholder="전화번호를 적어주세요" class="account">
            {% comment %} <select class="select">
                <option selected>아래의 질문들 중 하나를 선택해주세요.</option>
                <option>질문 : 자신이 다녔던 초등학교의 이름은 무엇인가요?</option>
                <option>질문 : 처음 키웠던 애완동물의 이름은 무엇인가요?</option>
                <option>질문 : 현재 어느 지역에서 거주하고 계신가요?</option>
            </select> {% endcomment %}
            <input type="answer" placeholder="질문에 대한 대답을 적어주세요" class="account">
            <center><a href="#" class="find">별명 찾기</a> | <a href="#" class="find">비밀번호 찾기</a></center>
            <button class="button">로그인</button>
        </div>
    </div> 
</body>
</html>