{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href="{% static 'accounts/css/base.css' %}">
    <title>젊어서노세 - 로그인</title>
</head>
<body>
    <div class="main" style="height:30em;min-height:30em;">
        <h1 class="text">로그인</h1>
        <div class="container">
            {% if msg %} 
            <p style="color: red;">{{msg}}</p>
            {% endif %}
            <form method="POST" action="{% url 'signin' %}">
                {% csrf_token %} 
                {{form.username}}
                {{form.password}}
                <center><a href="{% url 'find_name' %}" class="find">별명 찾기</a> | <a href="{% url 'find_pw' %}" class="find">비밀번호 찾기</a></center>
                <button class="button" type="submit">로그인</button>
            </form>
        </div>
    </div>   
</body>
</html>