*{
    padding : 0;
    margin : 0;

}
#Box {
    display : flex;
    background-color: whitesmoke;
    height: 35em;
    width: 60em;
    margin : auto;
    border-radius: 0.5em;
}

.title{
    text-align :center;    
    font-size: 2.5em;
    padding: 1em 0;
}

a{
    text-decoration: none; 
}

#Photobox{
    border:none;
    background-color: white;
    height: 27em;
    width: 19em;
    margin:1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    float:left;
    padding: 3em;
}

button {
    background-Color: #5699D6;
    border-radius: 17em;
    color: white;
    border: 0;
    height: 2.5em;
    width: 5.5em;
    margin-left: auto;
}

textarea {
	border: none;
	resize: none;
}

textarea::placeholder {
    font-size: 1.5em;

}

input:focus {
  outline: none;
}

.myProfile {
    color: white;
    width: 3.5em;
    height: 3.5em;
    border-radius:  50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    top: 6.5em;
    color: black;
}

.right_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container{
    min-width: 960px;
}

.post_img{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post_img img {
    
    display: block;
    height: auto;
}

textarea{
    border: 1px solie black
}
.edit_title{
    text-align: center;
    font-size : 3em;
}
.myformClass{
    width : 60%;
    display:flex;
    flex-direction: column;
}
.entire_wrapper{
    background-color: whitesmoke;
    width: 70vw;
    margin : 0 auto;
    display : flex;
    min-width : fit-content;    
    justify-content: space-around; 
}
button {
    float : right;
}
.post_content{
    width: fit-content;
    min-width: fit-content;
}