#/*loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('https://postfiles.pstatic.net/MjAyMjExMjJfMjc0/MDAxNjY5MTA2MTg4NTY3.gTXZKZ26Hgi-0PYRejRjCb_2O4OpwHDxAyOK2zQCXnUg.T3tW_MGXjieUmi6EWshZdYxHNMnY5JHKH_tF_V-Nv1wg.GIF.ysbin1205/loading.gif?type=w773');
	z-index: 999;
}*/