body {
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding:100px;
}

li{
    float:left;
    padding: 3px;
}

a{
    text-decoration: none; 
}

#PhotoPlusBox{
    border:4px dashed black;
    display: block;
    background-color: white;
    height: 500px;
    width: 300px;
    margin:30px;
    padding:10px;
    text-align:center;
    }

#PlusContent{
    border:1px solid black;
    display: block;
    background-color: white;
    height: 300px;
    width: 400px;
    }

h3{
    text-align: center;
}

ul{
    list-style-type: none;
}

input[type=submit] {
    background-Color:#5699D6;
    border-radius:10px;
    color: white;
    border:0;
    outline:0;
}

input[type=text] {
    border:0;
    outline:0;
}


#Box {
    background-color: whitesmoke;
    display:inline-block;
    align-items: inline-block;
    height: 590px;
    width: 820px;
    }