
*{
    padding : 0;
    margin : 0;

}
#Box {
    display : flex;
    background-color: whitesmoke;
    height: 31.5em;
    width: 52.8em;
    margin : auto;
    border-radius: 0.5em;
}

.title{
    text-align :center;    
    font-size: 2.5em;
    padding: 1em 0em 2em;
}

a{
    text-decoration: none; 
}

#PhotoPlusBox{
    border:2px dashed black;
    background-color: white;
    height: 27em;
    width: 19em;
    margin:1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    float:left;
    padding: 3em;
}

button {
    background-Color: #5699D6;
    border-radius: 17em;
    color: white;
    border: 0;
    height: 2.5em;
    width: 5.5em;
    margin-left: auto;
}

textarea {
	border: none;
	resize: none;
}

textarea::placeholder {
    font-size: 1.5em;

}

input:focus {
  outline: none;
}

.myProfile {
    color: white;
    width: 3.5em;
    height: 3.5em;
    border-radius:  50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    top: 6.5em;
    color: black;
}

.right_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container{
    min-width: 960px;
}
#PhotoButton{
    background-Color: grey;
    border-radius: 17em;
    color: white;
    border: 0;
    height: 2.5em;
    width: 7.5em;
    margin-left: 1em;
}
.writeForm{
    display : flex;
}