* { box-sizing: border-box; }

:root {
    --default: linear-gradient(
        #EFF7FC,
        #EFF7FC
        );

    --colorful: linear-gradient(
        50deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );

    --colorful2: linear-gradient(
        30deg,
        #7BA13D,
        #29A24E,
        #00906E,
        #00698E,
        #0038A0,
        #06078E
    );

    --rainbow: linear-gradient(
        140deg,
        /* #ff9a9a,
        #ffb29a,
        #ffc19a,
        #ffd19a,
        #f8ff9a, */
        #ecff9a,
        #d0ff9a,
        #9aff9a,
        #9affcd,
        #9affe1,
        #9af3ff,
        #9abdff,
        #c99aff,
        #ff9ae1
    );
}

@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes PastelRainbow {
    0% {background-position: left;}
    100% {background-position: right;}
}

body {
    background-image: var(--default);
    background-size: 400%;
    animation: PastelRainbow 4s infinite alternate;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.BG-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 6.5em;
    height: 6.5em;
    float: left;
    border-radius: 50%;
    /* border: 1rem groove #c4e8ff; */
    background-color: #fac4ff;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.3);
}

.BG-btn:active {
    position: relative;
    box-shadow: none;
    top: 1rem;
    left: 1rem;
}

.BG-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.BG-btn:hover { cursor: pointer; }

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 38em;
    min-width: 38em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 1em;
    background-color: #f1f1f1;
}

h1 { margin-top: 0em; }

.text {
    font-family: 'ChosunCentennial';
    font-size: 2.8em;
    margin-bottom: 0.8em;
}

.text2 {
    font-size: 1.1em;
    text-align: center;
}

input {
    display: block;
    margin-bottom: 2em;
    text-indent: 1em;
    border: 0.1em solid lightgray;
    width: 28em;
    min-width : 28em;
    height: 3.8em;
    min-height: 3.8em;
}

select {
    display: block;
    margin-bottom: 2em;
    text-indent: 1em;
    border: 0.1em solid lightgray;
    width: 28em;
    min-width: 28em;
    height: 3.7em;
    min-height: 3.7em
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 2em;
    margin-top: 3em;
}

input::placeholder {
    font-size: 1.3em;
    font-weight: 600;
}

input:focus {
    outline-color: gray;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}