body {
    background-color: #EFF7FC;
    display: flex;
    height: 100vh;
}

.main {
    margin: auto;
    width: 38em;
    min-width: 38em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: 0.1em solid lightgrey;
    border-radius: 1em;
    background-color: #f1f1f1;
}

.text {
    font-size: 2.8em;
    margin-bottom: 1.2em;
}

.text2 {
    font-size: 1.1em;
    text-align: center;
}

.account {
    display: block;
    margin-bottom: 2em;
    text-indent: 1em;
    border: 0.1em solid lightgray;
    width: 28em;
    min-width : 28em;
    height: 3.8em;
    min-height: 3.8em;
}

.quiz {
    display: block;
    margin-bottom: 2em;
    text-indent: 1em;
    border: 0.1em solid lightgray;
    width: 28.4em;
    min-width: 28.4em;
    height: 3.8em;
    min-height: 3.8em
}

.button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 2em;
    margin-top: 3em;
}

input::placeholder {
    font-size: 1.3em;
    font-weight: 600;
}

input:focus {
    outline-color: gray;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}